<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<%if @category.posts %>
  <% @category.posts.each do |post|%>
  <ul>
    <li><%=link_to post.title, post_path(post)%></li>
  </ul>
  <%end%>
<%end%>
